@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Play:wght@400;700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+IN:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(19, 19, 19);
    min-width: 100%;
}

.img-logo {}

.nev {
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 19, 19);
    height: 80px;
    width: 100%;
}

.max-divice {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 20px;
}

.max-divice li {
    width: 90px;
    height: 25px;
    padding-top: 8px;
    text-align: center;
    margin-top: 25px;
    transition: background ease-in 0.22s;
    border-radius: 10px;

}

.bk-width-li {
    width: 70px;
}

.mob-div {
    display: none;
}

.back {
    display: none;
}

.first-section {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.intro-name {
    width: 9em;
    color: aliceblue;
    margin-top: 100px;
    font-size: 3em;
}

.first-section img {
    width: 250px;
    border-radius: 10%;
    box-shadow: 2px 2px 10px rgb(155, 198, 11), -2px -2px 10px rgb(104, 10, 219);
}

.span {
    color: rgb(222, 126, 57);
    border-radius: 15px;
    padding: 2px;
}

#element {
    color: rgb(222, 104, 19);
}

hr {
    border: none;
    background: white;
    height: .3px;
    margin: 80px;
    margin-top: 140px;
}


